.cs-team.cs-style1 {
  .cs-member_thumb {
    position: relative;
    padding: 0 15px;
    img {
      display: inline-block;
      position: relative;
      z-index: 1;
      height: 175px;
    }
  }
  .cs-member_social {
    svg {
      height: 18px;
      width: 18px;
    }
  }
  .cs-member_social {
    flex-wrap: wrap;
    margin: -10px;
    >* {
      margin: 10px;
    }
  }
  &.cs-type1 {
    .cs-member_thumb {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      padding: 30px;
      margin-left: auto;
      margin-right: auto;
      img {
        max-height: 100%;
      }
    }
  }
}